/* Add your styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #720455;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.signup-link,
.login-link {
  text-align: center;
}

.signup-link a,
.login-link a {
  color: #4caf50;
  text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}
/* For Succes Message  */
.success-message {
  color: #4caf50;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#captchaOutput {
  display: inline-block;
  padding: 8px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* margin-left: 10px; */
  margin: 20px auto;
}
